<ion-header>
  <ion-toolbar>
    <ion-title>
      Sinais do Robô
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let key of currentPredictions | keyvalue">
      <ion-label>{{ key.key }}</ion-label>
      <ion-badge>{{ key.value === 'Compra' ? 'Compra' : 'Venda' }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

  <!-- Sinais do Robô -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Sinais do Robô</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let signal of robotSignals">
          <ion-label>{{ signal['time'] }}: {{ signal['action'] }} ({{ signal['currencyPair'] }})</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->