ion-content {
    background: linear-gradient(to bottom, #121212, #1E90FF, #4682B4) !important; /* Background degradê */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-toolbar {
    --background: #1a1a1a; /* Azul escuro */
    --color: #FFFFFF; /* Branco */
    text-align: center;
  }
  
  ion-item {
    --background: #1a1a1a; /* Azul escuro */
    --color: #FFFFFF; /* Branco */
    --border-color: #333333; /* Preto */
    --placeholder-color: #666666; /* Prata */
    --placeholder-opacity: 1;
    margin: 10px 0;
  }
  
  ion-label[color="danger"] {
    color: #FF5733; /* Vermelho para erros */
  }
  
  form {
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1a1a1a; /* Azul escuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-button {
    --background: #1E90FF; /* Azul claro */
    --color: #FFFFFF; /* Branco */
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  ion-button:disabled {
    --background: #666666; /* Prata */
    --color: #333333; /* Preto */
  }
  
  ion-button:hover {
    --background: #4682B4; /* Azul aço */
    --color: #FFFFFF; /* Branco */
  }
  
  .login-redirect {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-redirect ion-button {
    --color: #FFFFFF; /* Branco */
    --background: #333333; /* Preto */
    --border: 1px solid #1E90FF; /* Azul claro */
    border-radius: 5px;
    padding: 5px 10px;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .login-redirect ion-button:hover {
    --color: #1E90FF; /* Azul claro */
    --border-color: #FFFFFF; /* Branco */
    --background: #1a1a1a; /* Azul escuro */
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    form {
      width: 90%;
      padding: 15px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    form {
      width: 85%;
    }
  }
  