ion-input {
  --background: #f0f0f0; // cor de fundo
  --color: #333; // cor do texto
  --border-radius: 10px; // cantos arredondados
  --padding-start: 10px; // padding à esquerda
  --padding-end: 10px; // padding à direita

  &:focus-within {
    --background: #e0e0e0; // cor de fundo quando focado
    --color: #000; // cor do texto quando focado
  }
}

.win-hover {
  --background: lightgreen; // cor de fundo para status "win"
}

.loss-hover {
  --background: #fdd; // cor de fundo para status "loss"
}
