ion-card {
  margin: 16px;
  padding: 16px;
}

ion-card-header {
  background-color: #f1f1f1;
  padding: 8px;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-content {
  ion-button {
    margin-top: 8px;
  }
  p {
    font-size: 1em;
    margin-top: 8px;
  }
  ion-label {
    font-size: 1em;
  }
}
