ion-toolbar {
  background-color: #1e1e1e;
  ion-title {
    color: #ffffff;
  }
  ion-buttons {
    height: auto;
    width: auto;
  }
}

ion-item {
  --padding-start: 10px; // Reduzido o padding
  --padding-end: 10px; // Reduzido o padding
  margin: 10px 2px; // Reduzido a margem
  border-radius: 4px;
  width: 80%; // Reduzido a largura
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item.robo-button,
ion-item.soros-button,
ion-item.bank-button,
ion-item.compound-interest-button {
  ion-icon {
    font-size: 24px;
    color: #ffffff;
    margin-right: 6px; // Reduzido a margem
  }
  --background: var(--button-color);
  --color: #ffffff;
  --border-radius: 4px;
  --padding-top: 12px;
  --padding-bottom: 12px;

  &:hover {
    filter: brightness(0.9);
  }
}

ion-item.robo-button {
  --button-color: #4CAF50;
}

ion-item.soros-button {
  --button-color: #2196F3;
}

ion-item.bank-button {
  --button-color: #FFC107;
}

ion-item.compound-interest-button {
  --button-color: #9C27B0;
}
