.menu-container {
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }
}

ion-toolbar {
  background-color: #1e1e1e;
  ion-title {
    color: #000000;
  }
}

ion-item {
  // --padding-start: 10px;
  // --padding-end: 10px;
  margin: 2px 2px;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.login{
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  &:hover {
    filter: brightness(0.5);
  }
}

ion-item.robo-button,
ion-item.soros-button,
ion-item.bank-button,
ion-item.compound-interest-button {
  ion-icon {
    font-size: 24px;
    color: #ffffff;
    margin-right: 6px;
  }
  --background: var(--button-color);
  --color: #ffffff;
  --border-radius: 4px;

  &:hover {
    filter: brightness(0.9);
  }
}

ion-item.robo-button {
  --button-color: #4CAF50;
}

ion-item.soros-button {
  --button-color: #2196F3;
}

ion-item.bank-button {
  --button-color: #FFC107;
}

ion-item.compound-interest-button {
  --button-color: #9C27B0;
}
