<ion-header>
  <ion-toolbar>
    <ion-title>Robocoins</ion-title>
    <ion-buttons slot="end">
    
      <ion-button (click)="openRoboSignals()" class="robo-button">
        <ion-icon name="analytics-outline"></ion-icon>
        Sinais de Robo
      </ion-button>
      
      <ion-button (click)="openSorosStrategy()" class="soros-button">
        <ion-icon name="cash-outline"></ion-icon>
         Soros Martingale
      </ion-button>
     
      <ion-button (click)="openBankManagement()" class="bank-button">
        <ion-icon name="wallet-outline"></ion-icon>
        Juros Simples
      </ion-button>
     
      <ion-button (click)="openCompoundInterest()" class="compound-interest-button">
        <ion-icon name="calculator-outline"></ion-icon>
        Juros Composto
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
