// Estilo para o contêiner do título da página
.page-title-container {
    text-align: center;
  }
  
  // Estilo para o título da página
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
  }
  
// Estilo para o card de entrada
.input-card {
    width: 40%; // Reduz a largura para 80% da largura do contêiner pai
    margin: 16px auto; // Margens superior e inferior de 16px e margens laterais automáticas para centralização
    ion-card-content {
      ion-item {
        margin-bottom: 12px;
      }
    }
  }
  
  // Estilo para os cards de entradas
  .entry-card {
    margin: 8px;
    ion-card-content {
      background-color: #525252;
    }
  }
  
  
  
  // Estilo para as colunas dentro das linhas
  .entry-col {
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: #fffdfd;
  }
  
  // Estilo para os itens de entrada
  .input-item {
    ion-label {
      font-weight: bold;
    }
    ion-input {
      text-align: right;
    }
  
  }
  