// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');



.input-field {
  text-align: right;
}

.entry-card {
  background-color: #e6e6e6;
  border-radius: 10px;
  margin: 5px 10px;
}

.entry-label,
.entry-value,
.entry-result {
  text-align: center;
  font-weight: 300;
}

.entry-label {
  font-size: 1.2em;
}

.entry-value {
  font-size: 1.1em;
  color: #007bff;
}

.entry-result {
  font-size: 1.1em;
  color: #28a745;
}
.entry-col {
    color : #000000;
}
