.content-container {
  width: 100%;
  overflow-y: auto;
  padding: 16px;
  margin-bottom: 40px;
}

.page-title-container {
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid #d4d4d4;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #e44d26;
}

.input-card {
  width: 100%;
  margin: 16px auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;

  ion-card-content {
    ion-item {
      margin-bottom: 12px;
      background-color: #fff;
    }
  }
}

.entry-card {
  margin: 8px;
  background-color: #525252;

  ion-card-content {
    background-color: #525252;
  }
}

.entry-col {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  color: #fffdfd;
  
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-value,
.lucro,
.calculated-value {
  font-weight: bold;
  

}

.entry-value {
  color: #ff9900;
}

.lucro {
  color: #ffcc00;
}

.calculated-value {
  color: #00cc00
  
}

.input-item {
  ion-label {
    font-weight: bold;
  }
  ion-input {
    text-align: right;
  }
}

// Media query para telas maiores
@media (min-width: 768px) {
  .input-card {
    width: 40%;
  }
}
