  .content-container {
    width: 100%;
    overflow-y: auto;
    padding: 16px;
    margin-bottom: 40px;
  }
  
  .page-title-container {
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid #d4d4d4;
  }
  
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #e44d26;
  }
  
  
  // Estilo para o card de entrada
  .input-card {
    width: 100%;
    margin: 16px auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  
    ion-card-content {
      ion-item {
        margin-bottom: 12px;
        background-color: #fff;
      }
    }
  }
  
  // Media query para telas maiores
  @media (min-width: 768px) {
    .input-card {
      width: 40%;
    }
  }
  
  // Estilo para os cards de entradas
  .entry-card {
    margin: 8px;
    background-color: #e6ffe6;
  
    ion-card-content {
      background-color: #ccffcc;
    }
  }
  
  // Estilo para as colunas dentro das linhas
  .entry-col {
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: #333;
  }
  
  // Estilo para os itens de entrada
  .input-item {
    ion-label {
      font-weight: bold;
    }
    ion-input {
      text-align: right;
    }
  }
