ion-content {
  --background: linear-gradient(to bottom, #1a1a1a, #0d5eaf) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-toolbar {
  --background: #0d5eaf;
  --color: #FFFFFF;
  text-align: center;
}

ion-title {
  text-align: center;
  width: 100%;
}

ion-item {
  --background: #1a1a1a;
  --color: #FFFFFF;
  --border-color: #333333;
  --placeholder-color: #c0c0c0;
  margin: 10px 0;
}

ion-label[color="danger"] {
  color: #FF5733;
}

form {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-button {
  --background: #0d5eaf;
  --color: #FFFFFF;
  width: 100%;
  margin-top: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  ion-button {
    --background: transparent;
    --color: #FFFFFF;
    margin: 0 5px;
    font-size: 15px;
    min-width: auto;
    padding: 0 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .google-button {
    --background: #4285F4;
    --color: #FFFFFF;
    width: 150px;
  }
}

.register-redirect {
  text-align: center;
  margin-top: 20px;
}

.register-redirect ion-button {
  --color: #FFFFFF;
  --background: #333333;
  --border: 1px solid #0d5eaf;
  border-radius: 5px;
  padding: 5px 10px;
}

.icon-bank ion-icon {
  font-size: 48px;
  color: #0d5eaf;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

// Media Queries for Responsiveness
@media (max-width: 768px) {
  form {
    width: 90%;
    padding: 15px;
  }

  ion-button {
    margin-top: 15px;
  }

  .social-login ion-button {
    font-size: 12px;
    padding: 0 5px;
  }

  .google-button {
    width: 130px;
  }
}
