<ion-content>
  <ion-toolbar>
    <ion-title>
      Sinais do Robô
    </ion-title>
  </ion-toolbar>

  <!-- Mensagem de Carregando -->
  <div *ngIf="isLoading">
    <p>Carregando sinais...</p>
  </div>

  <!-- Mensagem de erro da API -->
  <div *ngIf="apiError">
    <p>Erro: Não foi possível conectar-se à API.</p>
  </div>

  <!-- Exibe a lista se houver sinais -->
  <ion-list *ngIf="signals.length > 0">
    <ion-item *ngFor="let signal of signals; last as isLast"
              [ngClass]="{
                'buy-signal': signal.action === 'Compra',
                'sell-signal': signal.action === 'Venda',
                'no-signal': signal.action === 'Sem sinal',
                'indecision-signal': signal.action === 'Indecisão',
                'last-item': isLast
              }">
      <ion-label>
        <h2>{{ signal.currencyPair }}</h2>
        <p>{{ signal.action }}</p>
        <p>{{ signal.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Exibe uma mensagem se a lista estiver vazia -->
  <div *ngIf="signals.length === 0 && !isLoading && !apiError">
    <p>Nenhum sinal disponível no momento.</p>
  </div>
</ion-content>
