<ion-header>
  <ion-toolbar>
    <ion-title>
      Sinais do Robô
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let signal of signals" 
              [ngClass]="{
                'buy-signal': signal.action === 'Compra', 
                'sell-signal': signal.action === 'Venda', 
                'no-signal': signal.action === 'Sem sinal',
                'indecision-signal': signal.action === 'Indecisão'
              }">
      <ion-label>
        <h2>{{ signal.currencyPair }}</h2>
        <p>{{ signal.action }}</p>
        <p>{{ signal.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
